<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ProjectNAO-UI-WEB</display-name>
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/login.xhtml</location>
	</error-page>
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>#{sessionMB.theme}</param-value>
	</context-param>
	<filter>
		<filter-name>Character Encoding Filter</filter-name>
	    <filter-class>br.com.nao.ui.web.application.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>Character Encoding Filter</filter-name>
	    <servlet-name>FacesServlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>FacesServlet</servlet-name>
	</filter-mapping>
</web-app>